Flask==3.0.0
Flask-Cors==4.0.1
pandas==2.1.1
numpy==1.26.1
matplotlib==3.8.3
scikit-learn==1.5.1
seaborn==0.13.2
requests==2.31.0
sqlparse==0.4.4
openpyxl==3.1.2
pytesseract==0.3.10
google-cloud-storage==2.18.0
google-api-python-client==2.134.0
openai==0.28.0
torch==2.4.0
transformers==4.42.3
nltk==3.8.1
scipy==1.12.0
